<div class="container">
  <div class="row">
    <div class="col">
      <h1> Employé </h1>
        <section>
		<!-- --------------------------------------------------------------------------------- -->
		<!-- --------------------------------- Input champ nom ------------------------------- -->
        <div class="md-form">
          <label for="nomInput">Nom</label>
          <input type="text" class="form-control" id="nomInput" [(ngModel)]="textNom" placeholder="Entrer le nom">
        </div>
		<!-- --------------------------------------------------------------------------------- -->
		<!-- ------------------------------- Input champ prénom ------------------------------ -->
        <div class="form-group">
          <label for="prenomInput">Prénom</label>
          <input type="text" class="form-control" id="prenomInput" [(ngModel)]="textPrenom" placeholder="Entrer le prénom">
        </div>
		<!-- --------------------------------------------------------------------------------- -->
		<!-- -------------------------------- Input champ age -------------------------------- -->
        <div class="form-group">
          <label for="ageInput">Age</label>
          <input type="text" class="form-control" id="ageInput" [(ngModel)]="textAge" placeholder="Entrer l'âge">
        </div>
		<!-- --------------------------------------------------------------------------------- -->
		<!-- ------------------------------ Input champ salaire ------------------------------ -->
        <div class="form-group">
          <label for="salaireInput">Salaire</label>
          <input type="text" class="form-control" id="salaireInput" [(ngModel)]="textSalaire" placeholder="Entrer le salaire">
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <!-- ----------------------------- Bouton Valider - Annuler -------------------------- -->
        <button type="submit" class="btn btn-primary" (click)="saveEmploye()">Valider</button>
        <button type="submit" class="btn btn-warning" (click)="redirectEmploye()">Annuler</button>
        <!-- --------------------------------------------------------------------------------- -->
        </section>
    </div>
  </div>
</div>
